<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />



<div class="mt-5">
    <h3 class="text-center">
        BANCO DIGITAL DE CHILE
    </h3>
    <h1 class="text-center">
        {{nombre}} SE HA REGISTRADO CON EXITO
    </h1>

    <hr />

    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-xl-4">

            <button onclick="irSesion()" type="button" class="btn btn-info btn-sm btn-block mt-2">
                Continuar
            </button>
        </div>
    </div>
</div>
<script>
    const irSesion = () => {
        location.replace('/sesion')
    }
</script>