<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />


<div class="mt-5">
    <h3 class="text-center">
        BANCO DIGITAL DE CHILE
    </h3>
    <h1 class="text-center">
        NUEVA TRANSFERENCIA
    </h1>

    <hr />

    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-xl-4">

            <input type="text" class="form-control" placeholder="Ingrese su nombre el destinatario" id="nombre" />

            <input type="email" class="form-control mt-2" placeholder="Ingrese correo del destinatario" id="correo" />

            <input type="text" class="form-control mt-2" placeholder="Ingrese  rut del destinatario" id="rut" />

            <input type="text" class="form-control mt-2" placeholder="Ingrese comentario de transferencia"
                id="direccion" />

            <input type="text" class="form-control mt-2" placeholder="Ingrese el monto que desea transferir"
                id="clave" />


            <button onclick="" class="btn btn-info btn-lg btn-block mt-2" type="submit">
                TRANSFERIR
            </button>

        </div>
    </div>
</div>