<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <div class="mt-5">
        <h3 class="text-center">
            BANCO DIGITAL DE CHILE
        </h3>
        <h1 class="text-center">
            REGISTRO
        </h1>

        <hr />

        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-xl-4">

                <input type="text" class="form-control" placeholder="Ingrese su nombre completo" id="nombre" />

                <input type="email" class="form-control mt-2" placeholder="Ingrese su correo" id="correo" />

                <input type="text" class="form-control mt-2" placeholder="Ingrese su rut" id="rut" />

                <input type="text" class="form-control mt-2" placeholder="Ingrese su direccion" id="direccion"
                    required />

                <input type="password" class="form-control mt-2" placeholder="Ingrese su clave" id="clave" />

                <input type="password" class="form-control mt-2" placeholder="Confirme su clave" />

                <button onclick="envioData()" class="btn btn-dark btn-lg btn-block mt-2" type="submit">
                    Registrarme
                </button>
                <button onclick="irSesion()" type="button" class="btn btn-info btn-sm btn-block mt-2">
                    Ingresar
                </button>
            </div>
        </div>
    </div>

    <script>
        const envioData = async () => {
            const nombre = document.getElementById('nombre').value
            const correo = document.getElementById('correo').value
            const rut = document.getElementById('rut').value
            const direccion = document.getElementById('direccion').value
            const clave = document.getElementById('clave').value
            const data = {
                nombre: nombre,
                correo: correo,
                rut: rut,
                direccion: direccion,
                clave: clave
            }

            if (nombre === "" || correo === "" || rut === "" || direccion === "" || clave === "") {
                return (alert("Todos los campos son obligatorios"))
            }
            const response = await axios.post("/registro", data)

        }
    </script>

    <script>
        const irSesion = () => {
            location.replace('/sesion')
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous">
        </script>

</body>

</html>